USE [master]
GO
/****** Object:  Database [dbFiles]    Script Date: 10/02/2022 23:50:48 ******/
CREATE DATABASE [dbFiles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbFiles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbFiles.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbFiles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbFiles_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbFiles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbFiles]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 10/02/2022 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[SearchID] [int] NOT NULL,
	[fileName] [nvarchar](max) NULL,
	[fileType] [nvarchar](max) NULL,
	[fileLocation] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seareches]    Script Date: 10/02/2022 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seareches](
	[SearchID] [int] IDENTITY(1,1) NOT NULL,
	[KeyWord] [nvarchar](max) NOT NULL,
	[SearchingPath] [nvarchar](max) NULL,
	[NumberOfResults] [int] NULL,
 CONSTRAINT [PK_Seareches] PRIMARY KEY CLUSTERED 
(
	[SearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Seareches] FOREIGN KEY([SearchID])
REFERENCES [dbo].[Seareches] ([SearchID])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Seareches]
GO
USE [master]
GO
